nav {
    display: flex;
    flex-direction: column;
}

.link-background {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.link {
    color: black;
    text-shadow: 2px 2px white;
    text-decoration: none;
}